/*************************/
/* CSS Remedy */
/*************************/
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,
summary {
    cursor: pointer;
}

html {
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

@font-face {
    font-family: TimesNow;
    src: url(../fonts/TimesNow.otf);
}

@font-face {
    font-family: HelveticaUL;
    src: url(../fonts/HelveticaNeueLTCom-UltLt.woff);
}

@font-face {
    font-family: HelveticaLT;
    src: url(../fonts/HelveticaNeueLTCom-Lt.woff);
}

@font-face {
    font-family: HelveticaMD;
    src: url(../fonts/HelveticaNeueLTCom-Md.otf);
}

/*************************/
/* Custom properties */
/*************************/
:root {
    --color-primary: #02291f;
    --color-secondary: #fff;
    --color-background: #000;
    --color-button-line: #456148;

    --font-title: "HelveticaUL", sans-serif;
    --font-var: "TimesNow", serif;
    --font-body: "HelveticaLT", sans-serif;
    --font-button-bold: "HelveticaMD", sans-serif;

    --size-h1: 2.4rem;
    --size-var: 2.4rem;
    --size-h2: 2rem;
    --size-h4: 0.7rem;
    --size-p: 1rem;

    --weight-h1: 100;
    --weight-h2: 100;
    --weight-h3: 400;
    --weight-p: 100;
}

/*************************/
/* Header */
/*************************/
header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: all 300ms ease;
}

header.scroll-up {
    transform: translateY(0);
}

header.scroll-down {
    transform: translateY(-100%);
}

header section {
    height: 7rem;
    margin: 0em 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 1.6rem;
}

header button {
    background: none;
    border: none;
    width: 2rem;
}

header svg {
    fill: var(--color-secondary);
    height: 1.6rem;
}

header > a:first-of-type {
    position: absolute;
    top: -60px;
    overflow: hidden;
    left: 33%;
}

header > a:first-of-type:focus {
    top: -20px;
    transition: 0.2s;
}

header > a:first-of-type:focus::before {
    display: none;
}

/*************************/
/* Menu open */
/*************************/

header nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    padding: 7rem 1.4rem 0rem 1.4rem;
    z-index: -1;
    transform: translateY(-200%);
    transition: 0.4s;
}

header nav section:first-of-type {
    height: unset;
    margin: 0;
    justify-content: flex-start;
}

header nav section:first-of-type p {
    color: var(--color-background);
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

header nav section:last-of-type {
    background: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0rem 0rem 0rem;
}
header nav section:last-of-type a:last-of-type {
    width: unset;
    padding: unset;
    margin-bottom: unset;
}

header nav section:last-of-type img {
    padding: 0rem 1rem;
}

header nav section:last-of-type p {
    color: var(--color-background);
    font-family: HelveticaUL;
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

header nav section:last-of-type a {
    background: unset !important;
    padding: 0;
    margin: 0;
}

header nav section:last-of-type a::before {
    display: none;
}

header nav > p {
    color: var(--color-background);
    text-align: center;
}

.open {
    transform: translateY(0);
}

header nav ul li a {
    color: black;
    font-size: 0.9rem;
    font-family: HelveticaMD;
    margin: 0 !important;
    padding: 0rem 0rem 2rem 0rem;
}

header nav ul li a::before {
    display: none;
}

header nav ul.open a::before {
    display: none;
}

header nav ul li {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header nav ul section {
    background: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

header nav ul section:first-of-type {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
}

header nav ul section:first-of-type img {
    margin: 0rem 1rem 0rem 0rem;
}

header nav ul section:first-of-type p,
header nav ul p {
    color: #000;
}

header nav ul p {
    text-align: center;
}

header nav ul section img {
    margin: 2rem 1rem 0rem 1.4rem;
    height: 2rem;
}

header nav ul li:nth-of-type(5) {
    display: block;
}

hr {
    background-color: #c4c4c4;
    height: 0.01rem;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    display: block;
}
svg:nth-of-type(2) {
    height: 1.8rem;
}

.color-black {
    fill: black;
    color: #000;
    transition: all 300ms ease;
}

svg:first-of-type .color-black {
    stroke: black;
    transition: all 300ms ease;
}

header span:first-of-type {
    display: inline-block;
    content: "";
    height: 0.12rem;
    width: 1.6rem;
    background-color: var(--color-secondary);
}

header span:last-of-type {
    display: inline-block;
    content: "";
    height: 0.12rem;
    margin-bottom: 0.6em;
    width: 1.6rem;
    background-color: var(--color-secondary);
}
header span.color-black:first-of-type {
    transform: rotate(45deg) translateY(5px);
    transform-origin: center;
    background-color: #000;
}
header span.color-black:last-of-type {
    transform: rotate(-45deg) translateY(-5px);
    transform-origin: center;
    background-color: #000;
}

nav svg:first-of-type {
    height: 1.8rem;
}

nav ul button:last-of-type {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 2rem;
    background: var(--color-secondary);
    color: var(--color-background);
    font-size: var(--size-p);
    border: 1px solid var(--color-background);
    font-family: var(--font-button-bold);
}

/*************************/
/* Typography */
/*************************/

h1 {
    font-family: var(--font-title);
    color: var(--color-secondary);
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    line-height: 2.4rem;
    margin-top: 68vh;
}

.project-page h1 {
    margin-top: 0;
}

h2 {
    font-family: var(--font-title);
    color: var(--color-secondary);
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
    text-transform: uppercase;
    line-height: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-weight: var(--weight-h3);
    font-family: var(--font-body);
    color: var(--color-secondary);
    font-size: var(--size-p);
    margin-bottom: 0.1rem;
}

h4 {
    font-family: var(--font-body);
    color: var(--color-secondary);
    font-size: var(--size-h4);
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
}

p {
    font-family: var(--font-body);
    color: var(--color-secondary);
    font-size: var(--size-p);
    font-weight: var(--weight-p);
    line-height: 1.4rem;
    letter-spacing: 0.02rem;
}

span {
    font-family: var(--font-var);
    display: block;
}

/*************************/
/* Elements */
/*************************/

main {
    margin: 0rem 1.4rem 0rem 1.4rem;
}

a {
    font-family: var(--font-body);
    color: var(--color-secondary);
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 6rem;
    display: block;
}

a::before {
    display: inline-block;
    content: "";
    height: 0.06rem;
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    background-color: var(--color-button-line);
}

a:first-of-type {
    margin-top: 2em;
}

img {
    max-width: 100%;
}

video {
    height: 100vh;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    object-fit: cover;
    width: 100%;
}

.project-page video {
    height: 100vh;
    margin: auto;
    position: unset;
    z-index: -1;
    top: 0;
    object-fit: cover;
    width: 100%;
}

section:last-of-type a:last-of-type {
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 4rem;
    background: var(--color-background);
    color: var(--color-secondary);
    font-size: var(--size-p);
    font-family: var(--font-button-bold);
}

.project-page section:last-of-type a:last-of-type {
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 4rem;
    background: var(--color-background);
    color: var(--color-secondary);
    font-size: var(--size-p);
}

/*Bron voor informatie over tekst in a-element verticaal centreren: https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html*/

section:last-of-type a:last-of-type::before {
    display: none;
}

main section h2:first-of-type {
    margin-top: 2rem;
}

section:last-of-type article {
    padding: 0em 1.4em;
}

main section:last-of-type {
    background: white;
    width: 100vw;
    margin: 0rem -1.4rem;
}

section:last-child h2 {
    color: black;
}

section:last-child p {
    color: black;
}

main section:nth-of-type(1) a::before {
    background-color: var(--color-secondary);
}

section article img {
    margin-top: 5rem;
}

section article a {
    color: var(--color-background);
    margin-bottom: 3rem;
}

section article h2:nth-of-type(2),
section article p {
    margin-bottom: 2rem;
}

/*************************/
/* Footer */
/*************************/
footer {
    display: block;
    background-color: var(--color-primary);
    padding: 0rem 1.4rem;
}

footer button {
    background-color: unset;
    border: none;
    border-color: var(--color-secondary);
    width: 100%;
    text-align: left;
}

footer img {
    height: 2em;
}

footer a {
    padding: 0;
    margin-bottom: 1rem;
}

footer a::before {
    display: none;
}

footer ul li {
    list-style-type: none;
    font-size: var(--size-p);
    font-weight: var(--weight-p);
}

footer button {
    color: var(--color-secondary);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: var(--size-p);
    font-family: HelveticaLT;
    align-items: center;
}

footer nav {
    margin: 0;
    height: unset;
    padding-bottom: 3rem;
}

footer nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer nav ul li a {
    display: inline-block;
    font-size: 0.9rem;
    font-family: HelveticaUL;
    letter-spacing: 0.07rem;
}

footer nav li::after {
    content: "";
    display: inline-block;
    width: 0.06rem;
    height: 1rem;
    background: #fff;
    margin: -0.2rem 0.5rem;
}

footer nav img:last-of-type {
    height: 1.5rem;
}
footer nav ul li a:first-of-type {
    margin: 0;
    padding: 0;
    display: inline;
}

footer button:first-child {
    padding: 3rem 0rem 5rem 0rem;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: HelveticaUL;
    font-size: 0.9rem;
    letter-spacing: 0.07rem;
}

footer button:first-child img {
    margin-right: 1rem;
}

footer button p {
    margin-left: 1rem;
}

footer section:last-of-type {
    background: none;
    display: flex;
    justify-content: center;
    /* Uitleg voor flex-wrap https://stackoverflow.com/questions/37815450/flex-items-ignoring-width*/
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

footer section:last-of-type img {
    margin: 2rem 1rem 0rem 1.4rem;
}

footer p:nth-child(7) {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 3rem;
}

summary {
    font-weight: var(--weight-h3);
    font-family: var(--font-body);
    color: var(--color-secondary);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.4rem;
    border-bottom: 0.08rem solid var(--color-secondary);
    margin-bottom: 1.8rem;
}

iframe {
    height: 70vh;
    width: 100%;
}

/* Hulp van de studentassistent bij het vervangen van het icoon en het toepassen van summary*/
summary::after {
    content: "+";
    font-size: 1.8rem;
}

details[open] summary::after {
    content: "–";
}

footer section:last-of-type a {
    text-align: unset !important;
    display: unset !important;
    text-align: unset !important;
    width: unset !important;
    padding: unset !important;
    margin: unset !important;
    background: unset !important;
}

/*************************/
/* Project page */
/*************************/

.project-bg {
    position: absolute;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.project-page section:first-of-type img:first-of-type {
    width: 2rem;
    margin-top: 27vh;
    margin-bottom: 2rem;
}

.project-page section:nth-child(1) p:first-of-type {
    color: #818181;
    margin-top: 1.5rem;
}

.project-page section:first-of-type a {
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 4rem;
    background: var(--color-background);
    color: var(--color-secondary);
    font-size: var(--size-p);
    border: 1px solid var(--color-secondary);
    font-family: var(--font-button-bold);
}

.project-page section:first-of-type a::before {
    display: none;
}

.project-page section:first-of-type img:nth-of-type(2) {
    width: 1.2rem;
}

.project-page section:first-of-type img:last-of-type {
    padding-bottom: 2rem;
}

.project-page section:nth-of-type(2) img:first-of-type {
    padding: 2rem 0rem 5rem 0rem;
}

.project-page section:nth-of-type(2) section {
    background: none;
    margin: 0;
    width: 100%;
}

.project-page section:nth-of-type(2) section p {
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
    font-family: var(--font-title);
    color: var(--color-secondary);
}

.project-page section:nth-of-type(2) section p:last-of-type {
    margin-bottom: 5rem;
}

.project-page section:nth-of-type(2) section span {
    font-family: var(--font-body);
    color: var(--color-secondary);
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    margin-left: 0.2rem;
    letter-spacing: 0.1rem;
    display: inline;
}

.project-page section:nth-of-type(4) img {
    margin-top: 6rem;
}

.project-page section:nth-of-type(4) video {
    margin: 8rem 0rem 8rem 0rem;
    width: 100%;
    height: auto;
}

.project-page section:nth-of-type(5) img {
    margin-left: 1.4rem;
    width: 100%;
}

.project-page section:nth-of-type(5) h2 {
    margin-bottom: -0.5rem;
}

.project-page section:nth-of-type(6) ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 2rem 0rem 4rem 0rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #818181;
}

.project-page section:nth-of-type(6) li {
    padding-right: 2rem;
}

.project-page section:nth-of-type(6) button {
    background: none;
    color: #818181;
    border: none;
    font-size: var(--font-body);
}

.project-page section:nth-of-type(6) button:hover {
    padding-bottom: 1rem;
    color: var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: -1.1rem;
}

.project-page section:nth-of-type(6) article:nth-of-type(2) button {
    margin: auto;
    display: block;
    padding-bottom: 3rem;
    color: var(--color-secondary);
}

.project-page section:nth-of-type(6) article:nth-of-type(2) button:hover {
    border: none;
}

.project-page section:nth-of-type(6) article a {
    padding: 0;
    margin: 0;
    color: var(--color-secondary);
    font-family: var(--font-button-bold);
    text-decoration: underline;
    display: inline;
}

.project-page section:nth-of-type(6) article a::before {
    display: none;
}

.project-page section:nth-of-type(6) {
    padding-bottom: 6rem;
}

.project-page section article h3 {
    font-family: var(--font-title);
    color: var(--color-secondary);
    font-size: 1.4rem;
    font-weight: var(--weight-h2);
    text-transform: uppercase;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.project-page section article p {
    margin-bottom: 3rem;
}

.show-article {
    display: block;
}

.hide-article {
    display: none;
}

.project-page section:last-of-type a {
    background: var(--color-secondary) !important;
    border: 1px solid var(--color-background);
    color: var(--color-background) !important;
    font-family: var(--font-button-bold);
}

.project-page section:last-of-type h2 {
    padding: 5rem 0rem 2rem 0rem;
}

/*************************/
/* Carousel project page*/
/*************************/

.project-page .slides-container > h2:last-of-type {
    color: var(--color-secondary);
    padding-top: 5rem;
    margin-bottom: -2rem;
}

.project-page .slides-container img {
    margin: 0;
}

.project-page .slides-container {
    background-color: white;
    height: 82vh;
    margin-top: 0;
    margin-bottom: 2rem;
}

.project-page .slides-container img {
    margin: 4rem 4rem 2rem 4rem;
}

.project-page .slides-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.project-page .slides-container section :is(h3, h4, p) {
    color: var(--color-background);
    text-align: center;
    max-width: 70%;
    margin: 0;
}
.project-page .slides-container section h3 {
    font-size: 0.7rem;
    font-family: var(--font-button-bold);
    letter-spacing: 0.2rem;
    color: #656565;
}

.project-page .slides-container section h4 {
    font-family: var(--font-body);
    text-transform: none;
    letter-spacing: 0.05rem;
    font-size: var(--size-p);
    margin-top: 1rem;
}

.project-page .slides-container section span {
    font-family: var(--font-button-bold);
    text-transform: none;
    display: inline;
}

.btn-browse {
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 6rem;
    background: var(--color-background);
    color: var(--color-secondary);
    font-size: var(--size-p);
    border: 1px solid var(--color-secondary);
    font-family: var(--font-button-bold);
}

.btn-browse::before {
    display: none;
}

/*************************/
/* Carousel homepage*/
/*************************/

.slides-container {
    height: 110vh;
    width: 100%;
    padding-right: 1rem;
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slides-container article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0.5rem;
}

.slides-container article img {
    margin: 0;
    order: -1;
    margin-bottom: 3rem;
}

.slides-container article p {
    margin-bottom: 1rem;
    max-width: 85%;
}
.slides-container article a {
    margin: 0;
    padding: 0;
}

.slides-container article a {
    color: var(--color-secondary);
}

.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*************************/
/* Increase contrast */
/*************************/

@media (prefers-contrast: more) {
    :root {
        --color-primary: #001b0d;
        --color-secondary: #fff;
        --color-background: #000;
        --color-button-line: #00ff1a;
    }

    .project-page .slides-container section :is(h3, p) {
        color: #000000 !important;
    }

    .project-page section:nth-child(1) p:first-of-type {
        color: #fff;
    }

    section:last-of-type a::before {
        background-color: #000000;
    }

    h1,
    h2,
    h3,
    .project-page section:nth-of-type(2) section :is(p, span) {
        font-family: HelveticaLT !important;
    }

    a::before {
        height: 2px;
    }

    a {
        font-family: HelveticaMD;
        text-decoration: underline;
    }
}
